@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(/images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  @apply bg-primaryViolet;
}

@media (max-width: 768px) {
  body {
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
